.header {
	width: 100%;
	margin: 10px;
}

.headerNavItem {
  display: inline-block;
  margin: 15px;
}

.filterButton {
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}